<!DOCTYPE html>
<html>
    <head>
    <link rel ="stylesheet" href="/style/style.css">
    </head>
    
    <body>
        <div class="shiv">
            {{>header}}
            <p>use this site to get weather forecasting</p>
            <form>
                <input placeholder = "enter a location">
                <button>serach</button>
            </form>
            <p id ="message-1">

            </p>
            <p id = "message-2">

            </p>
        </div>
       
           {{>footer}}
    </body>
    <script src= "/js/app.js" ></script>
</html>
